<%- include('includes/head')%>
<h1 class="w-6/8 my-4 border-2 border-black-400 p-1 text-center font-semibold text-xl bg-gray-100 rounded-lg">Бүх хэрэглэгчид</h1>
<a class="w-20 p-1 mx-3 border-2 border-yellow-800 bg-yellow-300 bg-opacity-50 rounded-md duration-300 hover:bg-opacity-100" href="/newuser">Шинэ хэрэглэгч</a>
<a class="w-20 p-1 mx-3 border-2 border-black bg-blue-300 bg-opacity-50 rounded-md duration-300 hover:bg-opacity-100" href="/login">Login</a>

<main class="w-7/8 my-4 mx-2  grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    <% if(users.length !== 0){ %>
        <% for(user of users){ %>
            <div class="h-32 relative bg-indigo-500 text-white flex items-center justify-center flex-col cursor-pointer rounded-md duration-700 hover:bg-indigo-600">
                <a class="text-lg" href="/profile/<%= user.id %>"> <%= user.email %> </a>
                <div class="absolute right-4 top-1 flex flex-col gap-2 md:flex flex-col my-0 lg:flex flex-row">
                    <button class="w-13 h-8 mt-4 rounded bg-green-400 border-2 border-green-400 bg-opacity-40 duration-300 hover:bg-opacity-100 ">
                        <a href="/edit/<%= user.id %>">Засах</a> 
                    </button>
                    <form action="/delete/<%= user.id %>" method="post">
                        <button class="w-13 h-8 mt-4 px-2 rounded tex-red-400 border-2 border-red-400 bg-red-400 bg-opacity-40 duration-300 hover:bg-opacity-100 hover:text-white">
                            Устгах
                        </button>
                    </form>
                </div>
            </div>
        <% } %>
    <% } else { %>
        <h1>Хэрэглэгч олдсонгүй!</h1>
    <% } %>
</main>
<%- include('includes/foot') %>